#homepage{
width: 100vw;
height: 100vh;
background-color:#fffbef ;
position:absolute;
display:inline-flex;
flex-direction: column;
}

#head{
    width: 100vw;
    height: 100px;
    display:flex;
    justify-content: center;
    background-color: #f5e8b7;

    position:relative;
    margin: 0px;
}

#video{
    height:15vh;
    width:75vw;
    position:relative;
    margin: 0 auto;

}

#buttons{
    position:relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top:200px ; */
}

#toprow{
    position:relative;
    display: inline-flex;
    flex-direction: row;
}
#secondrow{
    position:relative;
    display: inline-flex;
    flex-direction: row;
    width: 40vw;
    margin: 0 auto;

}
.green{
    background-color: #6a9c89;
    border:2px solid #c1d8c3;
    width: 40vw;
    height:20vh;
    margin: 5vw;
}
.green:hover{
    background-color: #c1d8c3;
}

.orange:hover{
    background-color: #ffc9a3;
}
.orange{
    background-color: #CD5C08;
    border:2px solid #ffc9a3;
    width: 40vw;
    height:20vh;
}

a{
    color:black;
}

a:hover{
    color:black;
    
}