#homepage{
width: 100vw;
height: 100vh;
background-color:#fffbef ;
position:absolute;
display:inline-flex;
flex-direction: column;
align-items: center;
}

#head{
    width: 100vw;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #f5e8b7;
    position:relative;
    margin: 0px;
    margin-top:40px;
}

#video{
    height:10vh;
    width:30vw;
    position:relative;
    margin: 0 auto;

}


#toprow{
    position:absolute;
    display: inline-flex;
    flex-direction: row;
    width: 40vw;
    /* margin: 0 auto; */
   }
#secondrow{
    position:relative;
    display: inline-flex;
    flex-direction: row;
    width: 40vw;
    justify-content: center;
    /* margin: auto; */
}
.green{
    background-color: #6a9c89;
    border:2px solid #c1d8c3;
    width: 20vw;
    height:10vh;
    margin: 5vw;
    position: relative;
}
.orange{
    background-color: #CD5C08;
    border:2px solid #ffc9a3;
    width: 200px;
    height:10vh;
    margin: 5vw;
    position: relative;
}
#buttons{
    position:relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:100%;
}


.green:hover{
    background-color: #c1d8c3;
}

.orange:hover{
    background-color: #ffc9a3;
}
a{
    color:black;
}

a:hover{
    color:black;
    
}


#showops{
    position: absolute;
    display:none;
    width:600px; 
    height:150px; 
    background-color: #6a9c89;
    justify-content: center;
    z-index: 5;
    margin-top: 30vh;
    align-items: center;
}