.Container{
  --yel: #BACF1D;
  --yel2: #f5e8b7;
  --yel3:#ECFEBE;
}
/* .page{
 height:100vh;
 width:100vw;
  position:relative;
  --hei: 60px;
  display:flex;
  flex-direction: row-reverse;
  /* background-color: #ECFEBE; */
  /* padding-top:var(--hei);

} */

.grid{
  width:100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  padding-top : 10px;
}
/* .grid {
    width: 100vw;
  height:100vh;
  margin:auto;
  margin-top: 60px;
  position:relative;
} */

#patStart{
  width:75px;
  margin: 10;
  margin-top:5px;

}

.navContainer{
  left:0;
  top: 0;
  display:flex;
  width:100vw;
  /* height:50px; */
  position:absolute;
  /* background:var(--yel2); */
}

.inputPC{
  width:100%;
  height:auto;
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: 10px;
  /* background-color: #FFFBEF; */

}

 .inputP{
  border:2px solid black;
  /* border-radius: 5px; */
  background-color:var(--yel2);
  width:100px;
  height:30px;
  margin-top: 10px;
  position:absolute;
  text-align: center;
 }

#saveicon{
  position:absolute;
  right:0;
  margin-top: 10px;
  margin-right:25px;
}