.Container {
  --yel: #faeedc;
  --yel2: #f5e8b7;
  --yel3: #FFFBEF;
}

.page{
  position:fixed;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  height: 100vh;
  /* overflow: auto; */
  margin-top: 40px;
  background-color: #faeedc;

}

.navContainer {
  left: 0;
  top: 0;
  bottom:0;
  height: calc(100vh - 40px - 35px);
  display: inline-flex;
  flex-direction: row;
  position: absolute;
  background-color: #faeedc;
}

#navbar.navbar {
  height: 30px;
  display: flex;
  justify-content: center;

}

.navbar,
.bottomnavbar {
  height: 35px;
  left: 0;
  --w: calc(100vw - 15px);
  width: var(--w);
  position: absolute;
  background: #faeedc;
  border: none;
  display: flex;

}


.inputC {
  width: 100vw;
  height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid #fceed7;
  box-shadow: 0 2px #e8e5e2;
}

.input {
  border: 2px solid black;
  background-color: #c1d8c3;
  width: 100px;
  height: 20px;
  position: relative;
  text-align: center;
}

.panelInput,
.export {
  background-color: #FEF8F5;
  color: black;
  border: 0px ;
  border-radius: 5px;
  font-size: 10px;
  width: 55px;
  height:15px;
  position:relative;
 
}

#sizeh, #sizew, #outlineSize{
  width: 30px;
  text-align: center;
  
}

input:focus{
  outline: none;

}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.zoom {
  background-color: none;
  border: 0px;
}

.exps {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  padding-right: 10px;
}

#saveOP {
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.noBord {
  border: none;
  background: none;
  height: auto;
  font-weight: 800;
  font-size: 18;
}

#panelInput {
  margin: 2px;
  margin-bottom: 5px;
}

.settings {
  background-color: #faeedc;
  width: 150px;
  height: calc(100vh - 40px - 18px);
  position: relative;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 2;
  overflow: auto;
}

::-webkit-scrollbar {
  height: 6px;

}

::-webkit-scrollbar-thumb {
  background: rgb(97, 152, 134);
  border-radius: 5px;


}

.togglenav{
  margin-bottom: 10px;
  height:20px;
}
.sideSettings {
  background-color: #fff8ed;
  width: 35px;
  height: calc(100vh - 40px - 30px);
  /* margin-top: 30px; */
  padding-top: 5px;
  position: relative;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
  align-items: center;
   border-right: 1px solid #faeedc;
}

.settingsTitle {
  height: 25px;
  width:150px;
  font-size: 10px;
  font-weight: 600;
  border-top: 1px solid #eee2d0;
  border-bottom: 1px solid #eee2d0;
  box-shadow:  0 2px 5px #eee2d0;
  display: flex;
  flex-direction: row;
  position: relative;
  padding-left:15px;
}


#swatchtog{
  margin: 0;

}
#colorSettingsTitle{
  border-top: 1px solid #eee2d0;
  margin-top:2px;
  border-top: 1px solid #fff8ed;

}

.settingsTit {
  left: 0;
  padding: 2px;
  margin: 2px;
}


.collapseOps{
  display:flex;
  position: absolute;
  left:0;
  margin-right: 5px; 
  border: none;
  background: none;
  height: 35px;
  width: 15px;

}

.size {
  width: var(--w);
  position: relative;
  font-size: 10px;
  padding: 0px;
}

.showOP {
  color: black;
  background-color: var(--yel);
  border: none;
  float: right;
  display: inline-flex;
  flex-direction: row;
  position: absolute;
  height: 10px;
  right: 1px;
  }

.saveOP {
  position: absolute;
  right: 0;
  /* padding-right: 10px;
  padding-top:10px; */
}

#save {
  display: flex;
}

.saveO {
  display: none;
  flex-direction: column;
  padding: 0px;
  top: 0;
}

.option {
  display: inline-flex;
  flex-direction: row-reverse;
  padding-bottom: 10px;
}


.options{
  display:flex;
  flex-direction: column;
  padding-top: 10px;
  position: relative;
  margin-left: 5px;
  margin-bottom: 5px;

}

.colors {
  display: flex;
  flex-direction: column;
  /* height:30px; */

}

.colorPick{
  position: relative;

}

#colorpicker{
  background-color: #faeedc ;
  width:auto;
  padding:5px;
  z-index:2;
  position: absolute;
  align-items:center;
  display: block;
  flex-direction: column;
  float:right;
  right: 0;

}

.small .react-colorful {
  margin: 5px;
  width: 100px;
  height: 60px;
  border-radius: 0.5rem;
  margin-top: 15px;


}

.small .react-colorful__hue {
  height: 10px;
}

#hexpick{
  width: 60px; 
}

.colorCont {
  display: inline-flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  padding-left: 5px;
  border: 1px solid #a3b5a4;
  height: 35px;
  width: auto;
}

#colorbox {
  display: inline-flex;
  flex-direction: row;
  height:30px;
  position: relative;
  background-color: transparent;
  width: 190px;
  margin-right: 5px;
  overflow: auto;
  align-items: center;

}

.colorButts {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}

.colorBtn {
  position:relative;
  height: 15px;
  width: 15px;
  margin-left: 5px;
  margin-right: 5px;
  border:none;
  background-color: transparent;
  font-weight: 800;
}

.colorBtns {
  display: inline-flex;
  flex-direction: column;
  width: 10px;
  margin: 2px;
  position: relative;
}

#colorBtns {
  display: block;
  position: relative;
  height:30px;
  font-size: 18px;
  text-align: center;
}
.colorinphold{
  padding-left:5px;
}

#colorselectlabel{
  display: flex;
  flex-direction: row; 
  position: relative;
}

#closecolsel{
  position: absolute;
  display: block;
  right:0;
  top:0;
  background: none;
  border:none;
  margin-bottom:5px;
  margin-left:5px;
  font-weight: 600;
}

.colorButtsRight {
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

#replaceC{
  padding-top: 5px;
}

.pattern {
  display: none;

}


.fillButt{
  background:#FEF8F5; 
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 10px;
  width: 65px;
  margin-left: 5px;
}

.fillButt:focus{
  background:black; 
 color:white;
}

#patStart {
  width: 75px;
  margin: 10;
  margin-top: 5px;

}

.gridcontainer {
  /* width: calc(100vw - 150px); */
  height: calc(100vh - 40px - 35px - 30px );
  position: relative;
  align-items: center;
  /* margin-left: 155px; */
  overflow: auto;

}

.grid {
  /* padding: 20px; */
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 50px;
  position: relative;
}
.bottomnavbar {
  z-index: 4;
  height:35px;
}

.bottomnav {
  bottom: 0;
  height:35px;
  width:100vh;
  display: inline-flex;
  flex-direction: row;
  position: relative;
  z-index: 4;
}

.snaptobtm {
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  margin-top: 32px;
  left: 0;
  background-color: #FEFAF9;

}

.zooms {
  position: absolute;
  right: 0;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom:5px;
}

.popUpCont+#pop {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}