
body,
html {
  margin: 5;
  padding: 5;
  width: 100%;

}

body {
  background: rgba(255, 136, 0, 0.113);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: fit-content;
}

