
body,
html {
  margin: 5;
  padding: 5;
  width: 100%;

}

body {
  background:#FBFFF2;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: fit-content;
}

