.Container{
  --yel: #BACF1D;
  --yel2: #DFF988;
  --yel3:#ECFEBE;
}
.page{
 height:100vh;
 width:100vw;
  position:relative;
  --hei: 60px;
  display:flex;
  flex-direction: row-reverse;
  padding-top:var(--hei);

}
.header{
  width: 100vw;
  height: 60px;
  position: absolute;
  top: 0;
  background: var(--yel);
  border: 1px solid rgb(0, 0, 0);
  z-index: 1;
}

.head {
  position:relative;
  top:0;
  padding:0px;
}
.headButtons{
  position: absolute; 
  bottom: 0;
  right:0;
  padding-right: 10px;
}
.navContainer{
  left:0;
  display:inline-flex;
  flex-direction: row;
  position:absolute;
}

.sidenav{
  height: 100vh;
  width: 35px;
  left: 0;
  background-color: var(--yel);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items:center;

}

.navButts{
  width:35px;
  padding-bottom: 5px;
  background-color: var(--yel);
  border: 0px;
  z-index: 3;
}


.navbar {
 height: 100vh;
 --w : 150px;
  width:  var(--w);
  position: absolute;
  left: 35px;
  background:var(--yel2);
border: none; 
 }

 .react-icons{
  width: 40px;
  height:40px;
 }
 #options {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  padding-right: 10px;

}
 
 .panelInput, .export{
  background-color: var(--yel3);
  color: black;
  border: 1px solid rgb(47, 47, 47);
  border-radius: 0.25rem;
  font-size:10px;
  width: 35px;
  margin: auto;
  padding:0px;
  text-align:center;
  vertical-align: middle;
}

.zoom {
  background-color: var(--yel3);
  border: 1px solid rgb(47, 47, 47);
  border-radius: 0.25rem;
  display: inline-flex;
  flex-direction: row;
  width:20px;
  margin:3px;
  color:black;
  }
  
  .export{
    margin: 5px;

  }


.panelInput{
  margin: 0 1rem 0.5rem 1rem;
}

#saveOPs{
  align-items:center;
  display: inline-flex;
  flex-direction: row;
  width:45px;

}
span{
  font-size:10px;
  margin: auto 0;
  padding-left:5px;
}

.lbl{
  background-color:var(--yel);
  width:150px;
  font-size:10px;
  height:18px;
  display:flex;
  flex-direction: row;
  left:0;

  position:relative;
}
.size, .colors{
  width:  var(--w);
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  font-size:10px;
  padding:0px;
  padding-top:8px;
}

.showOP{
  color:black;
  background-color: var(--yel);
  border:none;
  float:right;
  display:inline-flex;
  flex-direction:row;
  position:absolute;
  height:10px;
  right: 1px;;

}
.saveOP{
  display:flex;
  flex-direction:row;
  width:150px;
 position:relative;
}

#save{
  display:flex;
}
.saveO{
  display:none;
  flex-direction:column;
  padding:0px;
  top:0;
}

.option{
  display:inline-flex;
  flex-direction: row;
  
}


.small .react-colorful {
  margin: 5px;
  width: 120px;
  height: 65px;
  /* border: 1px solid rgb(19, 19, 24); */
  border-radius: 0.5rem;
  z-index:2;
}

.small .react-colorful__hue {
  height: 15px;
}

.colorCont, .preset{
  display: inline-flex;
  flex-direction: row;

}

.pattern{
  display:none;
  
}

#patStart{
  width:75px;
  margin: 10;
  margin-top:5px;

}
.gridcontainer{
  width:calc(100vw - 185px);
  height: 90vh;
  position:absolute;
  align-items:center;
  padding:20px;
  overflow:scroll;
}
.grid {
  padding: 20px;
  width: 300px;
  height:300px;
  margin:auto;
  position:relative;
}

.popUpCont + #pop{
  position:relative;
  margin:auto;
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

