.popup{
    position:absolute;
    display:inline-block;
    z-index: 4;
    margin: 10px;
    width: 70%;  
    height: 70%; 
    background:#ecfebe;;
    visibility:hidden;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    border-radius: .5rem;
    border: 1px solid black;
}

.pHeader{
    font-size: 26px;
    /* border-bottom: 1px solid black; */
    display: flex;
     flex-direction: row;

}

.inp{
    background: #ECFEBE;
    /* border: 1px solid white;  */
}
#pclose{
    right:0;
    position: absolute;
    background: #ECFEBE;;
    border: 1px solid white; 
    font-size:10px;
}

input#file-upload-button.inp{
    background: #ECFEBE;;
    border: 1px solid white; 
}